ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {background-color: #04AA6D;
}

li a:hover { background-color: black;
}

.column { /*dit zijn de waarden die worden gegeven aan elk element met class="column"*/
  float:left; /*hiermee wordt het aan de linkerkant van het scherm geplaatst*/
  width: 30%; /*hiermee is de breedte 30% van het scherm*/
  padding: 15px; /*padding zorgt ervoor dat er een bepaalde hoeveelheid pixels om een text heen zit aan alle 4 de kanten. Het verschil tussen padding en margin is dat bij padding het in het element zit en bij margin erbuiten*/
  font-family: Georgia, 'Times New Roman', Times, serif; /*dit geeft de text fonts aan die worden gebruikt*/
  margin-bottom: 5%;
}

body { /*dit zijn de waarden voor de body*/
  background-color: black; /*dit is de achtergrondkleur van de body*/
  color: greenyellow; /*dit is de tekstkleur van de body*/ 
}
.footer { /*dit zijn de waarden die worden gegeven aan elk element met class="footer"*/
  position: fixed; /*hiermee staat de positie van de footer vast*/
  left: 0; /*hiermee is de footer zover naar links als mogelijk*/
  bottom: 0; /*hiermee is de footer zover naar onder als mogelijk*/
  width: 100%; /*hiermee wordt gezorgd dat de footer de hele breedte van het scherm opneemt*/
  background-color: greenyellow; /*dit is de achtergrondskleur van de footer*/
  padding: 10px; /*padding zorgt ervoor dat er een bepaalde hoeveelheid pixels om een text heen zit aan alle 4 de kanten. Het verschil tussen padding en margin is dat bij padding het in het element zit en bij margin erbuiten*/
  text-align: center; /*hiermee wordt de text in het midden van de footer geplaatst*/
  color: black;
}
